
/* ROOT */
.auth-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

/* LEFT SECTION */
.auth-left {
  width: 50%;
  position: relative;
  background: rgb(13, 110, 253,0.5);
  /* background:#fa7923d9 */
}

.auth-left img {
  width: 100%;
  /* height: 100%; */
  max-height: 100vh;
  object-fit: cover;
  opacity: 0.9;
}

/* Overlay */
.auth-left-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(8, 119, 255, 0.65),
    rgba(250, 121, 35, 0.85)
    /* rgba(13, 110, 253, 0.65),
    rgba(13, 110, 253, 0.85), */
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  color: #fff;
}

.auth-left-overlay h1 {
  font-size: 42px;
  font-weight: 800;
}

.auth-left-overlay p {
  font-size: 18px;
  max-width: 420px;
  opacity: 0.95;
}

/* RIGHT SECTION */
.auth-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d6efd;
}

/* GLASS CARD */
.glass-card {
  width: 100%;
  max-width: 420px;
  padding: 42px 36px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(20px);
  border-radius: 22px;
  box-shadow: 0 30px 60px rgba(13, 110, 253, 0.35);
  color: #fff;
}

.glass-card h2 {
  text-align: center;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.9;
}

/* INPUTS */
.field {
  position: relative;
  margin-bottom: 26px;
}

.field input {
  width: 100%;
  padding: 14px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 14px;
  color: #fff;
  outline: none;
}

.field label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0.95;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 11px;
  background: rgba(13, 110, 253, 0.85);
  padding: 2px 6px;
  border-radius: 6px;
}

/* Password eye */
.field.password .eye {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Forgot */
.forgot {
  text-align: right;
  margin-bottom: 24px;
}

.forgot a {
  color: #fff;
  font-size: 13px;
  opacity: 0.95;
}

/* BUTTON */
.auth-button {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  background: #fff;
  color: #0d6efd;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .auth-left {
    display: none;
  }

  .auth-right {
    width: 100%;
  }
}
